.jd-sears {
	color: #eeeeee;
	background: rgba(0,57,128,.8);
}

.jd-sywr {
	color: #fff;
	background: rgba(241,127,33,.8);
}

.jd-container-title, .jd-container-notitle {
	padding: 5px;
}

.jd-container-notitle {
	padding: 0px;
	margin: 0px !important;
}

.jd-input-container {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	background: transparent;
}

.jd-input-container label {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
}

.jd-input-container input, .jd-input-container textarea {
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    display: block;
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.jd-input-container textarea {
	height: auto;
}

.jd-sears .jd-title {
	color: #eeeeee;
}

.jd-sywr .jd-title {
	color: #eeeeee;
}

.jd-title hr
{
	top: 10.7em;
	height: 14px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.jd-title span {
	font-size: 18px;
	font-weight: 600;
}

.jd-container {
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);;
	border-radius: 5px;
	padding: 5px;
	padding-bottom: 20px;
	margin: 5px;
	position: relative;
}

.jd-error {
    color: #ffff00;
    background-color: rgba(255, 255, 255, 0.0);
	font-size: 12px;
	font-weight: bold;
	padding: 0px;	
	border-radius: 5px;
}

.bottom-right {
    top: auto;
    right: 10px;
    bottom: 0px;
    left: auto;
    position: absolute;	
}

.jd-error span {
	padding-left: 20px;
}

.jd-error .icon {
	fill: orangered;
	position: absolute;
	margin-top: 2px;
}

.jd-input-container .jd-errortext {
	border: 2px solid #D8000C;
}

.jd-label {
	margin-top: 2px;
}

.jd-nobackground {
	background: none;
	border: 1px solid rgba(0,0,0,0.2);
	color: #000000;
}

.jd-nobackground .jd-title {
	color: #000000;
}

.jd-buttonicon {
	padding-top: 6px;
}

.jd-sears .handsontable th {
	color: rgb(200, 200, 200) !important;
}

.jd-sears .handsontable td, .jd-sears .handsontable th{
	color: rgb(0, 0, 0) !important;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
}

.md-fab {
	z-index: 0 !important;
}

.ui-autocomplete li, .ui-timepicker-wrapper li {
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    height: 25px;
	line-height: 25px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;	
	font-weight: bold;
}